.warning-banner {
    width: 100%;
    background-color: rgba(68, 68, 68, 0.774);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.close-banner {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.close-banner:hover {
    cursor: pointer;
}

.close-banner svg {
    fill: #fff;
}

.warning-banner__message {
    color: #fff;
    font-size: 14px;
    width: 80%;
}