<div class="warning-banner">
    <p class="warning-banner__message">Сайт все ещё находится на стадии разработки поэтому некоторые функции могут не работать. Совсем скоро будет добавлена возможность написания статей и лайки.</p>
    <button class="close-banner">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"/>
        </svg>
    </button>
</div>

<script>
    let btn = document.querySelector('.close-banner')
    btn.onclick = function () {
        this.parentNode.remove();
    }
</script>