<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
    {% block links %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="header-nav">
            <a href="/"><img src="" alt="logo" class="header-nav__logo"></a>
            <div class="header-nav__buttons">
                <input id='search-toggle' type="checkbox" style="display: none;">
                <label for="search-toggle" class="search-toggle">
                    <svg width="25", height="25">
                        <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
                    </svg>
                </label>
                <input type="text" name="search" class="search-input" placeholder="Search">

                <a href="/admin" class="signin-link">You're admin</a>

                <!-- <a href="#" class="show-menu">
                    <img src="/media/img/default_images/defaultUser.png" alt="Avatar" width="35px" height="35px">
                </a> -->

            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="filters-wrapper">
               <div class="filters">
                   <div class="filters__inner">
                        {% for c in categories %}
                            <!-- TODO: Make active link black -->
                            <span class="link-container"><a href="/category?id={{c.category_no}}" class="filters__link">{{ c.name }}</a></span>                            
                        {% endfor %}
                   </div>
               </div>
               <a class="prev disabled">
                   <svg width="21" height="21">
                       <path d="M13.402 16.957l-6.478-6.479L13.402 4l.799.71-5.768 5.768 5.768 5.77z" fill-rule="evenodd"></path>  
                   </svg>
               </a>
               <a class="next">
                   <svg width="21" height="21">
                       <path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
                   </svg>
               </a>
           </div>
    </div>
    {% block content %}{% endblock %}
    {% load static %}
    <script src="{% static '/filterSlider.js' %}"></script>
</body>
</html>