<div class="wrapper">
    <!-- TODO: Make filters fixed -->
    <div class="filters-wrapper">
        <div class="filters">
            <div class="filters__inner">
                {% for c in categories %}
                {% if c.category_no == category_id %}
                <span class="link-container"><a href="/category?id={{c.category_no}}"
                        class="filters__link active">{{ c.name }}</a></span>
                {% else %}
                <span class="link-container"><a href="/category?id={{c.category_no}}"
                        class="filters__link">{{ c.name }}</a></span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <a class="prev disabled">
            <svg width="21" height="21">
                <path d="M13.402 16.957l-6.478-6.479L13.402 4l.799.71-5.768 5.768 5.768 5.77z" fill-rule="evenodd">
                </path>
            </svg>
        </a>
        <a class="next">
            <svg width="21" height="21">
                <path d="M8.3 4.2l6.4 6.3-6.4 6.3-.8-.8 5.5-5.5L7.5 5" fill-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>