<!-- TODO Get articles from server -->
{% extends 'base.html' %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/home.css' %}">
{% endblock links %}

{% block title %} Главная {% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="popular-wrapper">
            <div class="popular-wrapper__most-popular">
                <h1 class="main-title">Popular on our blog</h1>
                <div class="popular-article">
                    <img src="/media/img/default_images/default.jpg" alt="Article image" class="popular-article__img">
                    <h2 class="popular-article__title">Most popular article</h2>
                    <p class="popular-article__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, quas nam magni consequatur aut ipsa.</p>
                    <a href="#" class="popular-article__author-name">Author name</a>
                    <span class="popular-article__date">25.05.2020</span>
                </div>
            </div>
            <div class="popular-wrapper__less-popular">
                <div class="popular-article">
                    <img src="/media/img/default_images/default.jpg" alt="Article image" class="popular-article__img">
                    <h2 class="popular-article__title">Popular article</h2>
                    <p class="popular-article__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, quas nam magni consequatur aut ipsa.</p>
                    <a href="#" class="popular-article__author-name">Author name</a>
                    <span class="popular-article__date">25.05.2020</span>
                </div>
                <div class="popular-article">
                    <img src="/media/img/default_images/default.jpg" alt="Article image" class="popular-article__img">
                    <h2 class="popular-article__title">Popular article</h2>
                    <p class="popular-article__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, quas nam magni consequatur aut ipsa.</p>
                    <a href="#" class="popular-article__author-name">Author name</a>
                    <span class="popular-article__date">25.05.2020</span>
                </div>
            </div>
        </div>
        <div class="article-wrapper">

            {% for i in '0123456789'|make_list %}
                <div class="article">
                    <div class="article__content">
                        <a href="#" class="article__title">Some title</a>
                        <p class="aritcle__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sequi aliquam reiciendis vero at quaerat.</p>
                        <a href="#" class="article__author-name">No name</a>
                        <p class="article__date">05.05.2020</p>
                    </div>
                    <img src="/media/img/default_images/default.jpg" alt="Article image" class="article__img">
                </div>
            {% endfor %}
            <button class="load-btn">
                Загрузить ещё
                <svg width="21" height="21" viewBox="0 0 21 21">
                    <path d="M4 7.33L10.03 14l.5.55.5-.55 5.96-6.6-.98-.9-5.98 6.6h1L4.98 6.45z" fill-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>
    <footer>
        <p class="footer__info">© 2020 Yurkin Ivan | Dev version</p>
    </footer>
{% endblock content %}