{% extends 'auth.html' %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/form.css' %}">
{% endblock %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="title">Вход</h1>
        <form action="" method="POST" class="register-form">

            {% csrf_token %}

            {% for m in messages %}
                 <p class='error-message'>{{ m}}</p>
            {% endfor %}
    
            <label class="register-form__lbl" for="id_email">Имя пользователя</label>
            <input type="username" name="username" id="id_email">
            <label class="register-form__lbl" for="id_password">Пароль</label>
            <input type="password" name="password" id="id_password">

            <button type="submit" class="register-btn">Войти</button>

            <p>
                <span>Нет аккаунта?</span>
                <a class="sign-in" href="{% url 'main_app:register' %}">Зарегистрироваться</a>
            </p>

        </form>
    </div>
{% endblock %}
