{% extends 'auth.html' %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/form.css' %}">
{% endblock %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="title">Регистрация</h1>
        <form action="" method="POST" class="register-form">

            {% csrf_token %}

            {% if form.username.errors %}
                <p class='error-message'>{{ form.username.errors.as_text }}</p>
            {% endif %}
            {% if form.password1.errors or form.password2.errors  %}
                <p class='error-message'>{{ form.password2.errors.as_text }}</p>
            {% endif %}

            <label class="register-form__lbl" for="id_username">Имя пользователя</label>
            {{form.username}}
            <label class="register-form__lbl" for="id_password1">Пароль</label>
            {{form.password1}}
            <label class="register-form__lbl" for="id_password2">Повторите пароль</label>
            {{form.password2}}
            
            <button type="submit" class="register-btn">Зарегистрироваться</button>

            <p>
                <span>Уже есть аккаунт?</span>
                <a class="sign-in" href="{% url 'main_app:login' %}">Войти</a>
            </p>

        </form>
    </div>
{% endblock %}