*, *::before, *::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* **************************** POPULAR ARTICLES **************************** */

.main-title {
    font-size: 35px;
    color: #2f2f2f;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.popular-wrapper {
    display: flex;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.popular-wrapper__most-popular {
    width: 65%;
}

.popular-wrapper__less-popular {
    width: 35%;
    padding-left: 20px;
}

.popular-article {
    margin-bottom: 30px;
}

.popular-article__img {
    height: 250px;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.popular-wrapper__most-popular .popular-article__img {
    width: 100%;
    height: 380px;
    max-height: 380px;
    object-fit: cover;
}

.popular-article__title {
    color: #2f2f2f;
    font-size: 22px;
    display: block;
    margin-top: 10px;
}

/* .popular-wrapper__most-popular .popular-article__title {
    font-size: 34px;
} */

.popular-article__desc {
    color: rgb(80, 80, 80);
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin: 10px 0;
}

.popular-article__author-name {
    color: #2f2f2f;
    font-size: 14px;
}

.popular-article__date {
    color: #2f2f2f;
    font-size: 12px;
    margin-left: 5px;
}

/* **************************** ARTICLES **************************** */

.article-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.article-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0px;  
    height: 400px;
    width: 100%;
    background: linear-gradient(to top,
        rgba(255,255,255, 1) 10%, 
        rgba(255,255,255, 0) 90%
    );
    pointer-events: none;
    z-index: 1000;
}

.article {
    display: flex;
    align-items: center;
    min-height: 250px;
    border-top: 1px solid rgb(182, 182, 182);
}

.article__content {
    margin-right: 30px;
    width: 100%;
}

.article__title {
    font-size: 24px;
    color: #000;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.article__desc {
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: rgb(44, 44, 44);
}

.article__author-name {
    font-size: 16px;
    color: rgb(106, 11, 255);
    transition: .3s color;
}

.article__author-name:hover {
    color: rgb(45, 22, 82);
}

.article-category {
    color: rgb(99, 99, 99);
    text-decoration: underline;
    margin-left: 10px;
    transition: .3s color;
}

.article-category:hover {
    color: rgb(10, 10, 10);
}

.article__date {
    font-size: 14px;
    color: rgb(92, 92, 92);
}

.article__img {
    width: 240px;
    min-width: 240px;
    height: 170px;
    min-height: 160px;
    object-fit: cover;
}

.load-btn {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    height: 21px;
    background-color: transparent;
    color: #8667ce;
    border: none;
    width: 160px;
    text-align: left;
    outline: none;
    font-size: 14px;
    left: 50%;
    transform: translateX(-80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s opacity;
    padding: 0;
}

.load-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.like-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #c0392b;
    transition: .3s;
    outline: none;
}

.like-btn:hover {
    filter: brightness(.8);
    cursor: pointer;
}

.like-btn svg {
    margin-right: 7px;
}

.load-message {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    color: #c25d5d;
    font-size: 14px;
    left: 50%;
    transform: translateX(-80px);
}

/* **************************** FOOTER **************************** */

footer {
    width: 100%;
    height: 80px;
    max-height: 80px;
    border-top: 1px solid rgb(182, 182, 182);
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info {
    color: rgb(94, 94, 94);
    font-size: 12px;
}

@media screen and (max-width: 1200px) {
    .article-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 835px) {
    .wrapper {
        width: 90%;
    }
    
    .popular-wrapper {
        display: flex;
        margin-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
    }
    
    .popular-wrapper__most-popular {
        width: 100%;
    }
    
    .popular-wrapper__less-popular {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .popular-wrapper__less-popular .popular-article {
        display: flex;
        flex-direction: column;
        width: 48%;
    }

    .popular-article__img {
        height: 200px;
        max-height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 730px) {
    .wrapper {
        width: 95%;
    }
    
    .article {
        min-height: 200px;
        height: 200px;
        margin-top: 40px;
        padding-top: 60px;
    }

    .article:not(:first-child) {
        border: none;
    }

    .article__img {
        min-width: 80px;
        width: 80px;
        min-height: 80px;
        height: 80px;
    }

    .aritcle__desc {
        font-size: 15px;
    }

    .article__content {
        margin-right: 5px;
    }

    .article__date {
        display: inline;
    }

    .article-wrapper::after {
        content: '';
        position: absolute;
        bottom: -40px;  
        height: 400px;
        width: 100%;
        pointer-events: none;
        z-index: 1000;
    }

}