*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 50%;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.user__info-top {
    display: flex;
    align-items: center;
}

.edit-profile {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 15px;
    border: 1px solid rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-height: 24px;
    border-radius: 5px;
    transition: .2s;
}

.edit-profile:hover {
    color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
}

.user__info-bio {
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 20px;
    color: #3d3d3d;
}

.user__info-name {
    font-size: 32px;
    margin: 0;
    color: #292929;
    padding: 0;
}

/************* For Edit page *************/

.username-edit {
    font-size: 32px;
    color: #292929;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.bio-edit {
    width: 500px;
    height: 75px;
    color: rgb(129, 129, 129);
    font-size: 18px;
    resize: none;
    border: none;
    outline: none;
}

#loadImage {
    display: none;
}

.save, .close {
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 5px;
}

.save {
    border: 1px solid #029e74;
    color: #029e74;
    transition: .2s;
}

.save:hover {
    border: 1px solid #115342;
    color: #115342;
    cursor: pointer;
}

.close {
    border: 1px solid rgba(0, 0, 0, 0.158);
    color: rgba(0, 0, 0, 0.568);
    margin-left: 10px;
    transition: .2s;
}

.close:hover {
    border: 1px solid rgba(0, 0, 0, 0.781);
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
}

.svg-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    fill: rgb(179, 179, 179);
    transition: .2s;
    border-radius: 50%;
}

.svg-photo g {
    transform: translate(32px, 32px);
}

.svg-photo:hover {
    fill: #fff;
    cursor: pointer;
}


.user__avatar {
    min-width: 128px;
    max-width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.user__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.brightless {
    filter: brightness(.4);
}

.user_content {
    margin-top: 40px;
    padding-bottom: 50px;
}

.article {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgb(230, 230, 230) 0px 1px 4px;
    border-radius: 5px;
}

.article__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.article__image-img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.article__title, .article__desc {
    text-decoration: none;
    color: #292929;
    margin-top: 10px;
    display: block;
    width: 100%;
}

.article__title {
    font-size: 34px;
    font-weight: bold;
}

.article__meta {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.article__date {
    color: rgb(136, 136, 136);
    font-size: 14px;
}

.comments {
    width: 100%;
    margin-top: 20px;
}

.comments__title,
.articles__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(0,0,0,.68);
}

.comment {
    max-width: 100%;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
}

.comment-text {
    font-size: 18px;
    line-height: 1.58;
    color: rgba(0, 0, 0, 0.836);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment__link {
    color: rgba(0, 0, 0, 0.836);
}

@media screen and (max-width: 1000px) {
    .wrapper {
        max-width: 80%;
    }
}

@media screen and (max-width: 630px) {
    .wrapper {
        width: 90%;
        max-width: 90%;
    }

    .user {
        flex-direction: column-reverse;
        align-items: unset;
    }

    .user__avatar {
        max-width: 80px;
        min-width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
}